<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{timeCreated}} ago by {{author}} |
        {{#if isAuthor}}
            <a href="#/delete/comment/{{_id}}/post/{{postId}}" class="deleteLink">delete</a>
        {{/if}}
    </div>
</article>